<div class="container">
  <div class="wrapper col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
    <p><%= notice %><%= alert %></p>
    <h1>投稿一覧</h1>
    <p><%= link_to "投稿を作成", new_topic_path, class: "btn btn-default btn-sm" %></p>
    <% @topics.each do |topic| %>
    <div class="row">
      <p><%= topic.user.name %>が投稿</p>
      <h4><strong><%= topic.title %></strong></h4>
      <p><%= topic.content %></p>
      <%= link_to "編集", edit_topic_path(topic.id), class: "btn btn-default btn-xs" %>
      <%= link_to "削除", topic_path(topic.id), method: :delete, data: {confirm: "本当に削除してよいですか？"}, class: "btn btn-default btn-xs" %>
    </div>
    <% end %>
    <br>
  </div>
</div>