<!DOCTYPE html>
<html>
<head>
  <title>CLONEBOOK</title>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "logo.png" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        cluster: 'ap1',
        encrypted: true
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });
    </script>
  <% end %>
</head>
<body>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fruid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to " CLONEBOOK", root_path, class: "navbar-brand fa fa-thumbs-o-up"%>
        <% if user_signed_in? %>
          <%= link_to notifications_path do %>
            <i class="navbar-brand fa fa-bell fa-1x"><span id="unread_count"> <%= @notifications_count %></span></i>
          <% end %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to " 投稿一覧", topics_path, class: "fa fa-newspaper-o" %></li>
          <li><%= link_to " 新規投稿", new_topic_path, class: "fa fa-file-text-o" %></li>
          <li><%= link_to " メッセージ", conversations_path, class: "fa fa-commenting-o" %></li>
          <li><%= link_to " ユーザー", users_path, class: "fa fa-users" %></li>
          <li><%= link_to " マイページ", edit_user_registration_path, class: "fa fa-user" %></li>
          <li><%= link_to " ログアウト", destroy_user_session_path, class: "fa fa-sign-out" ,method: :delete %></li>
        <% else %>
          <li><%= link_to " ログイン", new_user_session_path, class: "fa fa-sign-in" %></li>
          <li><%= link_to " アカウント登録", new_user_registration_path, class: "fa fa-clone" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<%= yield %>

<footer>
   <p>運営会社 CLONEBOOK株式会社</p>
   <p>©︎2017 Copyright CLONEBOOK Corp.</p>
</footer>
</body>
</html>
